{% extends 'base.html' %}

{% block content %}
    <main role="main">
        <!-- Content -->
        <article>
          <header class="section-top-padding background-white">
            <div class="line text-center">
              <h1 class="text-dark text-s-size-30 text-m-size-40 text-l-size-headline text-thin text-line-height-1">About Us</h1>
              <p class="margin-bottom-0 text-size-16 text-dark">We're three students who have seen the negative impacts of this pandemic on small, local businesses. Minority-owned businesses have been disproportionately affected and we wanted to bring our knowledge and passion for tech to support them.<br>We created BuyPOC for UOttaHacks as a platform to amplify the reach of smaller businesses in Ottawa, as well as give like-minded consumers a resource to support local products and services.</p>
            </div>
          </header>
          <section class="section-top-padding background-white">
            <div class="line">
              <h2 class="text-s-size-40 text-size-50 text-line-height-1 margin-bottom-10 text-thin text-center"><span class="text-dark">-</span> Our Team <span class="text-dark">-</span></h2>
              <p class="margin-bottom-50 text-center">
              Our Team: Mabel, Tejas, and Tabitha
              </p>
              <div class="carousel-blocks owl-carousel">
                <div class="item">
                  <div class="padding">
                    <img class="full-img border-image border-primary" src="img/team-01.jpg" alt="" title="Team" />
                    <h3 class="text-s-size-16 text-size-20 text-line-height-1 text-dark margin-top-20 margin-bottom-0">Mabel Luo</h3>
                    <p class="text-size-14 text-dark margin-bottom-10">SHEeo</p>
                    <a target="_blank" href="https://www.facebook.com"><i class="icon-facebook_circle text-size-20"></i></a> <a target="_blank" href="https://www.twitter.com"><i class="icon-twitter_circle text-size-20"></i></a> <a target="_blank" href="https://www.google.com"><i class="icon-google_plus_circle text-size-20"></i></a>
                  </div>
                </div>

                <div class="item">
                  <div class="padding">
                    <img class="full-img border-image border-primary" src="img/team-03.jpg" alt="" title="Team" />
                    <h3 class="text-s-size-16 text-size-20 text-line-height-1 text-dark margin-top-20 margin-bottom-0">Tejas Shah</h3>
                    <p class="text-size-14 text-dark margin-bottom-10">Mommy</p>
                    <a target="_blank" href="https://www.facebook.com"><i class="icon-facebook_circle text-size-20"></i></a> <a target="_blank" href="https://www.twitter.com"><i class="icon-twitter_circle text-size-20"></i></a> <a target="_blank" href="https://www.google.com"><i class="icon-google_plus_circle text-size-20"></i></a>
                  </div>
                </div>
                <div class="item">
                  <div class="padding">
                    <img class="full-img border-image border-primary" src="img/team-04.jpg" alt="" title="Team" />
                    <h3 class="text-s-size-16 text-size-20 text-line-height-1 text-dark margin-top-20 margin-bottom-0">Tabitha Wong</h3>
                    <p class="text-size-14 text-dark margin-bottom-10">Hungry</p>
                    <a target="_blank" href="https://www.facebook.com"><i class="icon-facebook_circle text-size-20"></i></a> <a target="_blank" href="https://www.twitter.com"><i class="icon-twitter_circle text-size-20"></i></a> <a target="_blank" href="https://www.google.com"><i class="icon-google_plus_circle text-size-20"></i></a>
                  </div>
                </div>

              </div>
            </div>
          </section>
        </article>
      </main>
{% endblock %}