<!DOCTYPE HTML>
<html lang="en">
<head>
    <a id="top"></a>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {% if title %}
        <title>{{ title }} - UOttaHack</title>
    {% else %}
        <title>Welcome to UOttaHack!</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='responsee.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='owl.theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='template-style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans:100,400,600,900&subset=latin-ext">
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">
    <script src="https://kit.fontawesome.com/61786f0665.js" crossorigin="anonymous"></script>
</head>

<body class="size-1140">
    <div id="page-wrapper">
        <header role="banner" class="position-absolute margin-top-30 margin-m-top-0 margin-s-top-0">
        <!-- Top Navigation -->
        <nav class="background-transparent background-transparent-hightlight full-width sticky">
          <div class="s-12 l-2">
            <a href="{{ url_for('hello_world') }}" class="logo">
              <!-- Logo version before sticky nav -->
              <img src="../static/img/huge_1.png" alt="logo">
            </a>
          </div>
          <div class="s-12 l-10">
            <div class="top-nav right">
              <p class="nav-text"></p>
              <ul class="right chevron">
                <li><a href="{{ url_for('hello_world') }}">BuyPOC Home</a></li>
                <li><a href="{{ url_for('submit_business') }}">Submit a Business</a></li>
                <li><a href="{{ url_for('about_us') }}">About Us</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

      <footer>
            <!-- Bottom Footer -->
            <section class="padding background-dark full-width">
              <div class="text-center">
                  <a href="#top"><button type="button" class="backtotop">Back to Top</button><a/>
                      <br>
                <p class="text-size-12">Made with 🤍 for UOttaHack 2021</p>
              </div>
            </section>
      </footer>
    </div>
</body>
</html>