{% extends 'base.html' %}

{% block content %}
    <main role="main">
        <!-- Content -->
        <article>
          <header class="section background-white">
            <div class="line text-center">
              <strong><h1 class="text-dark text-s-size-30 text-m-size-40 text-l-size-headline text-thin text-line-height-1">BuyPOC</h1></strong>
              <br><br>
              <h2 class="text-s-size-40 text-size-50 text-line-height-1 margin-bottom-10 text-thin text-center"><span class="text-dark">-</span> Connect with Small Businesses <span class="text-dark">-</span></h2>
              <p class="margin-bottom-0 text-size-16 text-dark">This is an interactive map featuring the best of Ottawa's minority-owned small businesses! Below are the various categories of products and services....</p>
            </div>
          </header>
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Restaurants">
                <div class="image-hover-overlay background-primary">
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">Restaurants</h3>
                    <p class="text-white text-size-14 margin-bottom-20">From grains to grills, you're bound to find delicious gems in the heart of Canada's multicultural capital. </p>
                  </div>
                </div>
                <img class="full-img" src="../static/img/restaurant.jpg" alt=""/>
              </a>
            </div>
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Cafes">
                <div class="image-hover-overlay background-primary">
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">Cafes</h3>
                    <p class="text-white text-size-14 margin-bottom-20">Looking for a quick snack and specialty drink? Stop by at any one of these cafes to satisfy your cravings.</p>
                  </div>
                </div>
                <img class="full-img" src="../static/img/cafe.jpg" alt=""/>
              </a>
            </div>
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Specialty Goods">
                <div class="image-hover-overlay background-primary">
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">Specialty Goods</h3>
                    <p class="text-white text-size-14 margin-bottom-20">Head here to pick up the ingredients and goods you can't find anywhere else.</p>
                  </div>
                </div>
                <img class="full-img" src="../static/img/specialty.jpg" alt=""/>
              </a>
            </div>
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Apparel">
                <div class="image-hover-overlay background-primary">
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">Apparel</h3>
                    <p class="text-white text-size-14 margin-bottom-20">Looking to spice up your wardrobe? Check out these stores below for some trendy new pieces.</p>
                  </div>
                </div>
                <img class="full-img" src="../static/img/apparel.jpg" alt=""/>
              </a>
            </div>
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Lifestyle">
                <div class="image-hover-overlay background-primary">
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">Lifestyle</h3>
                    <p class="text-white text-size-14 margin-bottom-20">Head here to change up your home decor, find a new hobby, or get inspiration for your life.</p>
                  </div>
                </div>
                <img class="full-img" src="../static/img/lifestyle.jpg" alt=""/>
              </a>
            </div>
        </article>
        <div class="form">
              <form action="" method="post" novalidate>
                  {{ form.hidden_tag() }}
                    <ul class=”hor-list”>
                        <li class=”list-element”>
                            Filter for:
                        </li>
                        <li class=”list-element” style="color: red">
                            Restaurants
                            {{ form.restaurants() }}
                        </li>
                        <li class=”list-element” style="color: limegreen">
                            Cafes
                            {{ form.cafes() }}
                        </li>
                        <li class=”list-element” style="color: blue">
                            Specialty Goods
                            {{ form.specialty_goods() }}
                        </li>
                        <li class=”list-element” style="color: orange">
                            Apparel
                            {{ form.apparel() }}
                        </li>
                        <li class=”list-element” style="color: hotpink">
                            Lifestyle
                            {{ form.lifestyle() }}
                        </li>
                        <button type="button">
                            {{ form.submit() }}
                        </button>
                    </ul>
              </form>
            </div>
        <div class="line text-center">
        </div>
        <div id="mapid" style="height: 500px"></div>
            <script>
                var markers = [];
                fetch('/getdata')
                    .then(function (response) {
                        return response.text();
                    }).then(function (text) {
                        markers = JSON.parse(text)["markers"];
                        var mymap = L.map('mapid').setView([45.424721, -75.695000], 13);
                        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                            maxZoom: 18,
                            id: 'mapbox/streets-v11',
                            tileSize: 512,
                            zoomOffset: -1,
                            accessToken: 'pk.eyJ1IjoiY29udGVqYXMyMzEyIiwiYSI6ImNra3U5MjA3ajBwamIydnFvcWZwNzV6MG0ifQ.3rOY7Vop9yFyvOrgNjB7fw'
                        }).addTo(mymap);
                        var arrayLength = markers.length;
                        for (var i = 0; i < arrayLength; i++) {
                            var item = markers[i];
                            var fdo = false;
                            console.log(item["category"])
                            console.log("{{ restaurants }}")
                            if(item["category"] === "Restaurant" && "{{ restaurants }}" === "True") {
                                fdo = true;
                            } else if(item["category"] === "Specialty Goods" && "{{specialty_goods}}" === "True") {
                                fdo = true;
                            } else if(item["category"] === "Cafe" && "{{cafes}}" === "True") {
                                fdo = true;
                            } else if(item["category"] === "Apparel" && "{{apparel}}" === "True") {
                                fdo = true;
                            } else if(item["category"] === "Lifestyle" && "{{lifestyle}}" === "True") {
                                fdo = true
                            }
                            if(fdo) {
                                var myIcon = L.icon({
                                    iconUrl: item["icon"],
                                    shadowUrl: item["icon"],
                                    iconSize: [32, 32], // size of the icon
                                    shadowSize: [0, 0], // size of the shadow
                                    iconAnchor: [16, 32], // point of the icon which will correspond to marker's location
                                    shadowAnchor: [4, 62],  // the same for the shadow
                                    popupAnchor: [0, -25] // point from which the popup should open relative to the iconAnchor
                                })
                                var mark = L.marker([item["lat"], item["lng"]], {icon: myIcon}).addTo(mymap);
                                mark.bindPopup(item["infobox"]);
                            }
                        }
                    });
            </script>
    </main>
    <br>
{% endblock %}