{% extends 'base.html' %}

{% block content %}
    <main role="main">
        <!-- Content -->
        <article>
          <header class="section background-white">
            <div class="line text-center">
              <h1 class="text-dark text-s-size-30 text-m-size-40 text-l-size-headline text-thin text-line-height-1">BuyPOC</h1>
              <h2 class="text-s-size-40 text-size-50 text-line-height-1 margin-bottom-10 text-thin text-center"><span class="text-dark">-</span> Connect with Small Businesses <span class="text-dark">-</span></h2>
              <p class="margin-bottom-0 text-size-16 text-dark">This is an interactive map featuring the best of Ottawa's minority-owned small businesses! Below are the various categories of products and services....</p>
            </div>
          </header>
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Portfolio Image">
                <div class="image-hover-overlay background-primary">
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">Restaurants</h3>
                    <p class="text-white text-size-14 margin-bottom-20">A wide range, from grains to grills, you're bound to find delicious gems in the heart of Canada's multicultural capital. </p>
                  </div>
                </div>
                <img class="full-img" src="img/portfolio/thumb-04.jpg" alt=""/>
              </a>
            </div>
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Portfolio Image">
                <div class="image-hover-overlay background-primary">
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">Cafes</h3>
                    <p class="text-white text-size-14 margin-bottom-20">Looking for a quick snack and specialty drink? Stop by at any one of these cafes to satisfy your cravings.</p>
                  </div>
                </div>
                <img class="full-img" src="img/portfolio/thumb-05.jpg" alt=""/>
              </a>
            </div>
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Portfolio Image">
                <div class="image-hover-overlay background-primary">
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">Specialty Goods</h3>
                    <p class="text-white text-size-14 margin-bottom-20">Head here to pick up the ingredients and goods you can't find anywhere else.</p>
                  </div>
                </div>
                <img class="full-img" src="img/portfolio/thumb-06.jpg" alt=""/>
              </a>
            </div>
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Portfolio Image">
                <div class="image-hover-overlay background-primary">
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">Apparel</h3>
                    <p class="text-white text-size-14 margin-bottom-20">Looking to spice up your wardrobe? Check out these stores below for some trendy new pieces..</p>
                  </div>
                </div>
                <img class="full-img" src="img/portfolio/thumb-07.jpg" alt=""/>
              </a>
            </div>
            <div class="s-12 m-6 l-five">
              <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Portfolio Image">
                <div class="image-hover-overlay background-primary">
                  <div class="image-hover-overlay-content text-center padding-2x">
                    <h3 class="text-white text-size-20 margin-bottom-10">Lifestyle</h3>
                    <p class="text-white text-size-14 margin-bottom-20">Head here to change up your home decor, find a new hobby, or get inspiration for your life.</p>
                  </div>
                </div>
                <img class="full-img" src="img/portfolio/thumb-08.jpg" alt=""/>
              </a>
            </div>
        </article>
    </main>
{% endblock %}