{% extends 'base.html' %}

{% block content %}
    <h2> Submit a New Business </h2>
          <main role="main">
            <!-- Content -->
            <article>
              <header class="section background-white">
                <div class="line text-center">
                  <h1 class="text-dark text-s-size-30 text-m-size-40 text-l-size-headline text-thin text-line-height-1">Submission Form</h1>
                  <p class="margin-bottom-0 text-size-16 text-dark">Fill in the form below to submit a new business to be featured on our website and map.</p>
                </div>
              </header>
              <form action="" method="post" novalidate>
                  {{ form.hidden_tag() }}
                  {% for field in form.data.items() %}
                      <p>
                          {{ form[field[0]].label }}
                          {{ form[field[0]]() }}
                          {% for error in form[field[0]].errors %}
                              <span style="color: red;">[{{ error }}]</span>
                          {% endfor %}
                      </p>
                  {% endfor %}
              </form>
            </article>
          </main>
{% endblock %}